---
layout: archive
title: "Presentations at Conferences and Workshops (Selected)"
permalink: /talks/
author_profile: true
---

### 2024

* Oral Presentation (online) at Workshop “Antarctic Coastal Winds: recent advances and future research priorities”, British Antarctic Survey and online, Cambridge, UK, 19-21 March 2024
* Seminar “Polar Hour” at Scripps Institute of Oceanography, San Diego, USA, 29 February 2024
* Oral Presentation & Poster at Ocean Sciences Meeting, New Orleans, USA, 18-23 February 2024

### 2023
* Oral Presentation at 28th IUGG General Assembly, Berlin, Germany, 11-20 July 2023

### 2022
* Oral Presentation at Ocean Sciences Meeting, online, 1-4 March 2022




{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
